================================================================================
{{ landb.DeviceName|lower }} # {{ landb.ACC_main_intf.IPAddress }} # {{ landb.ACC_network_access }} # {{ landb.ACC_internet_access }} # {{ landb.ACC_main_intf.ServiceName }}
{{ landb.Location.Building }} {{ landb.Location.Floor }}-{{ landb.Location.Room }} # {{ landb.Zone|lower }} # {{ (landb.Description) | ternary(landb.Description|lower, [landb.UserPerson.FirstName|default('')|capitalize(), landb.UserPerson.Name|default('')|upper] | join(' ')) }}
================================================================================
SYS: {{ ansible_system_vendor }} # {{ ansible_product_name }} # {{ ansible_product_serial }} # {{ hardware.firmware_intf }}
CPU: {{ ansible_processor[2]|striptags() }} # {{ ansible_processor_count }} CPU / {{ ansible_processor_cores }} CORES / {{ ansible_processor_cores * ansible_processor_threads_per_core }} THREADS
RAM: {{ hardware.ram_modules }} # {{ ansible_memtotal_mb }} MB
DSK: {{ hardware.disks }}
{% for pci in hardware.video %}
VID: {{ pci }} # {{ hardware.video[pci].card }} # {{ hardware.video[pci].driver }}
{%     if pci in hardware.screens %}
{%         for screen in hardware.screens[pci] %}
SCR:   {{ screen.connector }} # {{ screen.name }} # {{ screen.display_size|default('0x0') }}
{%         endfor %}
{%     endif %}
{% endfor %}
{% for intf in hardware.network if intf.state == 'up' %}
NIC: {{ intf.name }} # {{ intf.ip }} # {{ intf.speed|default('0Mb/s') }}
{% endfor %}
OS : {{ os_pretty_name }} # {{ ansible_kernel }} # snapshot {{ snapdate }}
UP : since {{ hardware.boot_date|default('1970-01-01 00:00') }}
================================================================================
You have committed to obey the Computing Rules (http://cern.ch/ComputingRules)
Support contact: {{ support_contact }}
================================================================================
{% if vnc %}
On CS8 VM, command to launch a TigerVNC session:
k5reauth -x -i 3600 -f -- vncserver
================================================================================
{% endif %}
