# /etc/sysctl.d/68-net.ipv6.conf
# File managed by ansible

{# IPv6Ready == true ==> disable_ipv6 == 0 #}
{% set forced_value = (landb.IPv6Ready) | ternary('0', '1') %}
net.ipv6.conf.all.disable_ipv6 = {{ forced_value }}
net.ipv6.conf.default.disable_ipv6 = {{ forced_value }}
{% for intf in ansible_interfaces %}
net.ipv6.conf.{{ intf }}.disable_ipv6 = {{ forced_value }}
{% endfor %}
