# /etc/systemd/system/acc_ansible.timer
# File managed by ansible

[Unit]
Description=acc ansible service

[Timer]
OnCalendar={{ acc_playbook_calendar }}
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target