# /etc/audit/rules.d/audit.rules
# File managed by ansible

# This file contains the auditctl rules that are loaded
# whenever the audit daemon is started via the initscripts.
# The rules are simply the parameters that would be passed
# to auditctl.
# First rule - delete all
-D

{% if audit_dirs|length == 0 and audit_syscalls|length == 0 %}
# This suppresses syscall auditing for all tasks started
# with this rule in effect.  Remove it if you need syscall
# auditing.
-a task,never
{% endif %}

# Exclude all messages except ones needed for file monitoring
-a exclude,always -F msgtype!=SYSCALL -F msgtype!=CWD -F msgtype!=PATH -F msgtype!=EXECVE -F msgtype!=EOE

# File monitoring rules
{% for dir in audit_dirs %}
{%     for file in r_audit_files.results[loop.index - 1].stdout_lines %}
-a always,exit -F arch={{ ansible_architecture }} {{ dir.syscalls }} -F path={{ file }} -k {{ dir.key }}
{%     endfor %}
{% endfor %}

# User system call rules
{% for item in audit_syscalls %}
-a always,exit -F arch={{ ansible_architecture }} -S {{ item.syscall }} {% for filter in item.filters -%} -F {{ filter }} {% endfor -%} -k {{ item.key }}
{% endfor %}