# /etc/auto.master
# File managed by ansible

# mount-point   map             options
/nfs            /etc/auto.nfs   --timeout={{ autofs_timeout }} rw,noatime,nosuid,nodev
/acc/dsc        /etc/auto.dsc   --timeout={{ autofs_timeout }}
{% if eos_client_enabled %}
/eos            /etc/auto.eos   --timeout={{ autofs_timeout }}
{% endif %}
