# /etc/systemd/system/dns_wait_online.service
# File managed by ansible

[Unit]
Description=Wait for first DNS reply
After=network-online.target

[Service]
ExecStart=/bin/bash -c 'until host {{ ansible_hostname }}.cern.ch; do sleep 1; done'
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=network-online.target