# /etc/exports
# File managed by ansible

{% set update_netgroup = r_update_netgroup %}
{% for dir in update_netgroup.exports_list|default('') %}
{{ dir }} @{{ dir | replace('/', '', 1) | replace('/', '_') }}_rwa(rw,no_root_squash,async,insecure,crossmnt) @{{ dir | replace('/', '', 1) | replace('/', '_') }}_rw(rw,async,insecure,crossmnt) @{{ dir | replace('/', '', 1) | replace('/', '_') }}_roa(ro,no_root_squash,async,insecure,crossmnt) @{{ dir | replace('/', '', 1) | replace('/', '_') }}_ro(ro,async,insecure,crossmnt)
{% endfor %}
