# /etc/security/access.conf
# File managed by ansible

# Add admin users
{% if cmw_support %}
+ : root (ACC-adm) (ACC-installers) (cmw-support) : ALL
{% else %}
+ : root (ACC-adm) : ALL
{% endif %}

# Add specific users
{% for rule in access %}
{{ rule.permission }} : {{ rule.user_group }} : {{ rule.origin }}
{% endfor %}

# Remove all other users
- : ALL : ALL
