# /root/.forward
# File managed by ansible

# admin user (mail of admin or e-group)
{% if landb.ResponsiblePerson.Email is defined %}
{{ landb.ResponsiblePerson.Email }}
{% endif %}

# main user (mail of main user or e-group)
{% if landb.UserPerson.Email is defined %}
{{ landb.UserPerson.Email }}
{% endif %}
{% if root_forward_extra_mails is defined %}

# extra mails
{%     for extra_mail in root_forward_extra_mails %}
{{ extra_mail }}
{%     endfor %}
{% endif %}
