# /etc/sudoers.d/rules
# File managed by ansible

# Static rules
root ALL = (ALL:ALL) ALL
collectd ALL = (root:root) NOPASSWD: /sbin/smartctl
%ACC-psadm-sudoers ALL = (ALL:ALL) ALL
%landbmainuser,%landbadmin ALL = (ALL:ALL) ALL
%specialist ALL = (ALL:ALL) ALL

# Common rules
{% for sudo_all in sudoers_all %}
{{ sudo_all.user_group|join(',') }} ALL = {{ sudo_all.command }}
{% endfor %}

# Group rules
{% for group in groups %}
{%     if group != 'all' and ansible_hostname in groups[group] %}
{%         if hostvars[ansible_hostname][group + '_sudoers'] is defined %}
# Rule(s) from {{ group }} group
{%             for rule in hostvars[ansible_hostname][group + '_sudoers'] %}
{{ rule.user_group|join(',') }} ALL = {{ rule.command }}
{%             endfor %}
{%         endif %}
{%     endif %}
{% endfor %}

# Host rules
{% for sudo in sudoers %}
{{ sudo.user_group|join(',') }} ALL = {{ sudo.command }}
{% endfor %}

# Important rules
%landbmainuser,%landbadmin ALL = (root:root) NOPASSWD: /usr/local/sbin/_lumenshost
%ACC-adm ALL = (root:root) NOPASSWD: /usr/local/sbin/*, /usr/bin/tar
