# /etc/systemd/system/local_mount.mount
# File managed by ansible

[Unit]
Description={{ item.item.mpoint }}
Conflicts=umount.target
After=lvm_init.service

[Mount]
What={{ item.item.device }}
Where={{ item.item.mpoint }}
Type={{ item.item.fstype }}
Options={{ item.item.opts }}
TimeoutSec=10s

[Install]
WantedBy=local_mount.target
