# /etc/systemd/system/local_bind.mount
# File managed by ansible

[Unit]
Description={{ item.item.dest }}
Conflicts=umount.target
After=lvm_init.service

[Mount]
What={{ item.item.src }}
Where={{ item.item.dest }}
Options=bind
TimeoutSec=10s

[Install]
WantedBy=local_mount.target
