# /etc/ssh/sshd_config
# File managed by ansible

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

SyslogFacility                  AUTHPRIV
PermitRootLogin                 yes
AuthorizedKeysFile              .ssh/authorized_keys
PasswordAuthentication          yes
PrintMotd                       no
ChallengeResponseAuthentication no
GSSAPIAuthentication            yes
GSSAPICleanupCredentials        yes
UsePAM                          yes
X11Forwarding                   yes
AcceptEnv                       '{{ ssh_accept_env }}'
Subsystem                       sftp /usr/libexec/openssh/sftp-server
