# /etc/sssd/sssd.conf
# File managed by ansible

###############################################################################
[sssd]
config_file_version = 2
services = nss,pam
domains = CERN.CH
enable_files_domain = false

###############################################################################
[autofs]

###############################################################################
[nss]
debug_level = 0x87F0
filter_groups = collectd,colord,dbus,polkitd,rngd,root,rpc,rpcuser
filter_users  = collectd,colord,dbus,polkitd,rngd,root,rpc,rpcuser
{% if localhost_on_tn and not afs_enabled|default(false) %}
override_homedir = /opt/home/%u
{% endif %}

###############################################################################
[pac]

###############################################################################
[pam]
debug_level = 0x87F0
pam_id_timeout = 60

###############################################################################
[ssh]

###############################################################################
[sudo]

###############################################################################
[domain/CERN.CH]
debug_level = 0x87F0

#------------------------------------------------------------------------------
# providers
id_provider = ldap
auth_provider = krb5
access_provider = ldap

#------------------------------------------------------------------------------
# Kerberos
krb5_realm = CERN.CH
krb5_server = {{ ldap_srv }}
krb5_kpasswd = {{ ldap_srv }}
cache_credentials = true

#------------------------------------------------------------------------------
# LDAP
ldap_uri = {{ ldap_uri }}
ldap_sasl_mech = gssapi
ldap_tls_cacertdir = /etc/openldap/cacerts
ldap_force_upper_case_realm = true
ldap_schema = ad
ldap_referrals = false
ldap_id_mapping = false
ldap_id_use_start_tls = false
ldap_search_base = dc=cern,dc=ch
ldap_access_filter = (&(objectClass=user)(cn=*))

ldap_user_search_base = ou=users,ou=organic units,dc=cern,dc=ch?subtree?(!(userAccountControl:1.2.840.113556.1.4.803:=2))
ldap_user_search_scope = one
ldap_user_object_class = person
ldap_user_name = sAMAccountName
ldap_user_home_directory = unixHomeDirectory
ldap_user_principal = extensionAttribute4
min_id = 1000
ignore_group_members = true

ldap_group_search_base = ou=unix,ou=workgroups,dc=cern,dc=ch
ldap_group_search_scope = one
ldap_group_object_class = group
